/* nav.css */

/* Left hand nav div changed from nav to logo */

#logo a.logo {
    display: block;
    width: 65px;
    height: 108px;
    margin: 0 auto 15px;
}

#nav {
	float:left;
	width:100%;
	background: -moz-linear-gradient( top, #600, #300); /* CSS 3 */
	font: 13px Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}

#nav ul.menu {
	list-style:none;
	float:left;
	width:100%;
	padding: 0 10px;
}

#nav ul.menu li {
	float: left;
	position: relative;
	margin-left: 0px;	
}

#nav ul.menu a {
	padding:12px;
	color:#000;
	font-size: 13px;
	text-decoration:none;
	text-shadow:0 1px 0 #000;	
}

/* Color change when hovered over */
#nav ul.menu li:hover a {
	color: #FFF;
	background: #222;
}

/* Submenus */

#nav ul.menu ul{
	list-style: none;
	margin:0; /* Appear just below the hovering list */
	padding:0;
	width:200px; /* specify the width. */
	position:absolute; /* needed */
	z-index:500; 
}

#nav ul.menu li ul {
	top: 27px;
	-moz-box-shadow:0 2px 10px #000;
}

#nav ul.menu ul ul {
	top: 0;
	left: 100%;
}
	
#nav ul.menu ul li {
	float: none;
}

/* Dropdowns */

/* Hide all the dropdowns */
#nav ul.menu ul,
#nav ul.menu li:hover ul ul,
#nav ul.menu ul li:hover ul ul {
	display: none;
}

/* Display the submenus when hovered */
#nav ul.menu li:hover ul,
#nav ul.menu ul li:hover ul,
#nav ul.menu ul li ul li:hover ul {
	display: block;
}

/* Chance color of links when hovered */
#nav ul.menu li * a.hover {
	background: #600;
	background: -moz-liner-gradient(top, #200, $400);
	border-bottom: 1px solid #900;
	border-top: 1px solid #222;
}