/* nav.css */

/* Left hand nav div changed from nav to logo */

#logo a.logo {
    display: block;
    width: 65px;
    height: 108px;
    margin: 0 auto 15px;
}

.menu-main-navigation-container {
    position: relative;
    float: left;
    left: 50%;
}

#menu-main-navigation {
    position: relative;
    float: left;
    right: 50%;
}

#nav {
	float:left;
	font: 13px Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
    margin-top: 0;
	letter-spacing: 1px;
}
#nav ul.menu {
	list-style:none;
	float:left;
	width:100%;
}
#nav ul.menu li {
	display: block;
	float: left;
	position: relative;
	margin-left: 0px;
}

#nav ul.menu li.menu-item > a {
    padding: 13px 10px;
    float: left;
}

#nav ul.menu a {
	color:#000;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
    text-transform: uppercase;
}

/* Dividers for top tier of menu */

#nav ul.menu > li > a {
	border-left: 1px #cacaca solid;
}

#nav ul.menu li:first-child a{
	border-left: 0;
}


/* Color change when hovered over */

#nav ul.menu li:hover a {
	color: #2d6db5;
	background: rgb(231, 231, 231);
	/* RGBa with 0.6 opacity */
	background: rgba(231, 231, 231, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E7E7E7, endColorstr=#99E7E7E7);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E7E7E7, endColorstr=#99E7E7E7)";
}

/* Highlight active page/category */

#nav .menu .current_page_ancestor a {
    color: #2d6db5;
    background: #E7E7E7;
}

#nav .menu .current_page_item a {
    color: #2d6db5;
    background: #E7E7E7;
}

/* Link hovering */

#nav ul.menu li a:hover {
	color: #e7e7e7;
	background: #80B8DC;
}

#nav ul.menu li ul.sub-menu a:hover {
	color: red;
}

/* Submenus */

#nav ul.menu ul.sub-menu {
	list-style: none;
	margin-top:40px; /* Appear just below the hovering list */
	padding:5px;
	width: auto; /* specify the width. */
	position:absolute; /* needed */
	z-index:500; 
    background-color: #e7e7e7;
}

	
#nav ul.menu ul.sub-menu li {
	float: none;
    clear: left;
    height: auto;
    
}

#nav ul.menu ul.sub-menu li a {
    font-size: 11px;
    font-weight: normal;
    padding: 5px 10px;
    background-color: transparent;
}

/* Dropdowns */

#nav ul.menu li.menu-item ul.sub-menu,
#nav ul.menu li.menu-item ul.sub-menu li{
    display: none;
}


#nav ul.menu li.menu-item:hover > ul.sub-menu,
#nav ul.menu li.menu-item:hover > ul.sub-menu > li
{
    display: block;
}